body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    width: 800px;
    height: 800px;
    gap: 4px;
}

.game-cell {
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(185, 185, 185);
}